* {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: rgb(241, 157, 0);
}

#main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "nav nav"
        "description description"
        "fan-pages fan-pages"
        "class-projects side-projects"
        "tech-elevator tech-elevator";
    grid-auto-rows: (100px, auto);
    row-gap: 20px;
    column-gap: 50px;
    align-items: center;
    justify-content: center;
}

#nav {
    grid-area: nav;
}

#description {
    grid-area: description;
}

#fan-pages {
    grid-area: fan-pages;
}

#class-projects {
    grid-area: side-projects;
}

#tech-elevator {
    grid-area: tech-elevator;
}
