* {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: rgb(241, 157, 0);
}

.logo {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5em;
}

/* GRID */

#main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "nav nav"
        "description description"
        "fan-pages fan-pages"
        "class-projects side-projects"
        "tech-elevator tech-elevator";
    grid-auto-rows: (100px, auto);
    row-gap: 20px;
    column-gap: 50px;
    align-items: center;
    justify-content: center;
}

#nav {
    grid-area: nav;
}

#description {
    grid-area: description;
}

#fan-pages {
    grid-area: fan-pages;
}

#class-projects {
    grid-area: side-projects;
}

#tech-elevator {
    grid-area: tech-elevator;
}

/* NAV BUTTONS */

.nav-container {
    text-align: center;
}

.tablink {
    display: inline-block;
    background-color: palegoldenrod;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: rgb(241, 157, 0);
    padding: 14px 16px;
    font-size: 18px;
    width: 16.3%;
    margin: 0 auto; 
}

.tablink:hover {
    background-color: lightskyblue;
}

.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}
